@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    border-radius: 0px !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a{
    font-size: 13px;
}

.nav-item a svg,
.nav-item a span{
    display: inline-block;
    vertical-align: middle;
}

.nav-item a span{
    margin-left: 4px;
}

.chat-left{
    height: calc(100vh - 56px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none
}

.chat-left::-webkit-scrollbar{
    display: none;
}

.height-full{
    height: calc(100vh - 56px);
}